@font-face {
    font-family: Rdr2font;
    src: url(rdr2font.TTF);
}
*{padding: 0%;
margin: 0%;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;}
body{
    background-color: black;
    overflow-x: hidden;
}
.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}
.Navigation {
    background-size: cover;
    height: 30vh; /* Adjust the height to your desired value */
    position: relative;
    margin-top: -90px; /* Adjust the margin-top value as needed */
  }
  

.logo1{
    background-color: transparent;
    width: 300px;
    height: 280px;
}
.logo{
    display: block;
}
.logo{
    position: absolute;
    left: 3%;
    top: 30%;
    transition:transform.75s;
}
.logo1:hover .logo{
    transform: scale(1.15);
    cursor: pointer;
}
.Navigation header .logo a{
    display: block;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
}
.Navigation header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 55px 30px;

}
nav ul li{
    list-style: none;
    display: inline-block;

}
nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
}
nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{border-bottom: 2px solid #ffffff;}



.footerbox{
    margin-top: 5%;
    background-color: rgb(178, 14, 14);
    width: 100%;
}
.logo2{
padding:10px;}

.body1{
    text-align: center;
    margin: 2%;
    color: #ffffff;
    padding-top: 4%;
}
.title{
    color: rgb(178, 14, 14) ;
    font-size: 27px;
    margin: 3%;
}
.image1{
    margin-bottom: 5%;
}

.para1 {
    width: 900px;
    margin: 0 auto; /* Add this line */
    text-align: center; /* Add this line */
  }
.body1 p{
    text-align: justify;
    
}
.para1 a {
    color: red; /* Change the color to your desired value */
  }
  
