@font-face {
    font-family: Rdr2font;
    src: url(CHINESER.TTF);
}
*{padding: 0%;
margin: 0%;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;}
body{
    background-color: black;
    overflow-x: hidden;
}
.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}
.Navigation {
    background-size: cover;
    height: 30vh; /* Adjust the height to your desired value */
    position: relative;
    margin-top: -90px; /* Adjust the margin-top value as needed */
  }
  
.logo1{
    background-color: transparent;
    width: 300px;
    height: 280px;
}
.logo{
    display: block;
}
.logo{
    position: absolute;
    left: 3%;
    top: 30%;
    transition:transform.75s;
}
.logo1:hover .logo{
    transform: scale(1.15);
    cursor: pointer;
}
.Navigation header .logo a{
    display: block;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
}
.Navigation header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 30px;

}
nav ul li{
    list-style: none;
    display: inline-block;

}
nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
}
nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{border-bottom: 2px solid #ffffff;}



.footerbox{
    margin-top: 5%;
    background-color: rgb(178, 14, 14);
    width: 100%;
}
.logo2{
padding:10px;}
.heading {
    color: rgb(178, 14, 14);
    font-size: 27px;
    text-align: center;
    margin: 3%;
}
.bg-width {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
    justify-content: space-between;
    max-width: 70%;

}

.chr1{
  margin: 5%; /* Adjust the value to decrease the space */
}
.chr2{
    margin: 5%; /* Adjust the value to decrease the space */
  }
.chr3{
    margin: 5%; /* Adjust the value to decrease the space */
  }
.chr4{
    margin: 5%; /* Adjust the value to decrease the space */
  }
