@font-face {
    font-family: Rdr2font;
    src: url(/assets/CHINESER.TTF);
}
*{padding: 0%;
margin: 0%;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;}
body{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}
.main-width{
    width: 1400px;
    max-width: 105%;
    margin: 0 auto;
}
/* To make my nav bar (header) always visible*/
.main-width{
    height: 100px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 6px rgb(178, 14, 14) solid;
}
.Navigation {
    background-size: cover;
    height: 30vh; /* Adjust the height to your desired value */
    position: relative;
    margin-top: -14.7%; /* Adjust the margin-top value as needed */
  }
  
.logo1{
    background-color: transparent;
    width: 300px;
    height: 280px;
}
.logo{
    display: block;
}
.logo{
    position: absolute;
    left: 4%;
    top: -55%;
    transition:transform.75s;
}
.logo1:hover .logo{
    transform: scale(1.15);
    cursor: pointer;
}
.Navigation header .logo a{
    display: block;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
}
.Navigation header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px 30px;
    margin-top: -8%;
    margin-right: 5%;

}
nav ul li{
    list-style: none;
    display: inline-block;

}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
}
nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{border-bottom: 2px solid rgb(178, 14, 14);}
.footerbox{
    color: white;
    display: flex;
    margin-top: 5%;
    background-color: rgb(178, 14, 14);
    width: 100%;
}
.footertag{
    display: flex;
}
.content-reffered{
    width: 500px;
    padding-left: 1%;
    padding-top: 9%;
}
.content-reffered a{
    color: white;
}
.logo2{
padding:10px;}

.imageslider {
    text-align: center;
  }

  
.heading h1{
    margin-top: 15%;
    margin-bottom: 7%;
    font-size: 60px;
    color: rgb(178, 14, 14);
    font-family: Rdr2font;
  }
  
.bg-content {
    margin: 3%;
    text-align: center;
    display: flex;
    align-items: center; /* Add this line to vertically center the elements */
    justify-content: center; /* Add this line to horizontally center the elements */
    align-items: center;
  }
.lefticon{
    border-radius: 100%;/* Adjust radius of border to make a circle */
    height: 70px;
    width: 70px;
    margin: 5%;
}

.imagebox {
    height: 450px;
    width: 800px;
  }
/* positioning the "page-ind" to the bottom of "imagebox" */
.imagebox {
    position: relative; /* Add this line to enable positioning */
  }

/* Now to add image to the "imagebox" */
.slide{
    height: 450px;
    width: 800px;
    margin: 0 40px;
    flex-shrink: 0;
    scroll-snap-align: start;
}
.imagebox{
    border-radius: 20px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-y: hidden; /* Add this line to disable vertical scroll */
}
.slide img{
    border-radius: 20px;
}
/* Adding animation to right and left icon*/
.left-arrow{
    transition:transform.75s;
}
.lefticon:hover .left-arrow{
    transform: scale(1.3);
    cursor: pointer;
}
.right-arrow{
    transition:transform.75s;
}
.lefticon:hover .right-arrow{
    transform: scale(1.30);
    cursor: pointer;
}
/* Styling the "text" section of the page*/
.text{
    height: 800px;
    width: 1200px;
    text-align: center;
    margin: 3%;
    display: flex;
}
  
  
  
/* editing the first context */
.para{
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    margin: 3%;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 700px;
    height: 700px;
    }
.para p{
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: justify;
}
.para h2{
    font-size: 40px;
    font-family: Rdr2font;
}

